<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Winerpest.Properties.Settings.WinnerPetConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=WinnerPet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Winerpest.Properties.Settings.WinnerPetConnectionString1"
            connectionString="Data Source=192.168.0.37,1433;Initial Catalog=WinnerPet;Persist Security Info=True;User ID=Adrian;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Winerpest.Properties.Settings.BDSERVIDOR" connectionString="Data Source=192.168.0.37,1433;Initial Catalog=WinnerPet;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Winerpest.Properties.Settings.WinnerPetPruebaLocal"
            connectionString="Data Source=DESKTOP-R171GB3\SQLSERVER;Initial Catalog=WinnerPet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Winerpest.Properties.Settings.BaseDeDatosLocal" connectionString="Data Source=192.168.0.23;Initial Catalog=WinnerPet;Persist Security Info=True;User ID=Adrian;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Winerpest.Properties.Settings.WinnerPetConnectionSQLTAP"
            connectionString="Data Source=localhost;Initial Catalog=WinnerPet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>